.App {
  text-align: center;
}

.table_list{
  margin-right: 5%;
  margin-left: 5%;
}
.pageNation{

  /* 중앙으로 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;

}
.TextBox {
  margin-top: 10px;
  text-align: left;
  margin-left: 5%;
  font-size: 18px;
  line-height: 1.5;
}
.Button_write{
  text-align: right;
  margin-right: 9%;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.5;
}
.lost_list{
  border-radius: 5px;
  margin : 20px;
  padding : 10px;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
