@font-face {
	font-family: "SUIT Variable";
	font-weight: 100 900;
	src: url("Fonts/SUIT-Variable.woff2") format("woff2-variations");
}


body {
  margin: 0;
  font-family: "SUIT Variable";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-dark: #0B0C4C;
  --color-accent: #1E21CB;
  --color-accent-white: #4A4DE4;
  --color-light: #B3B9FF;
  --color-white: #0B0C4C;
}

